.checkbox{
    width: 6%;
}

#cartPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 153, 0.9);
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    padding-top: 50px;
}