@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

footer {
    background-color: #0B4000;
    color: #fff;
    padding: 40px 50px;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
    position: relative;
    margin-top: 100px;
}

footer h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer .content{
    background-color: #0B4000;
    color: #fff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
    position: relative;
}

footer .contact{
    margin-left: 20px;
}

footer .contact-item{
    margin: 20px;
}

footer .contact-item i{
    margin-right: 10px;
}

footer .scroll-up {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    cursor: pointer;
}

.up {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
    margin-top: 15px;
}

.up:hover {
    color: rgba(209, 216, 141, 1);
}

main {
    margin-bottom: 100px;
}