.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding: 40px 20px;
}

.edit-profile{
    font-size: 1.5rem;
    font-weight: 600;
    color: #0b4000;
    margin: 0;
}

.form-group {
    margin-bottom: 1rem;
}

.header-container {
    align-self: flex-start; 
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.back {
    color: #0b4000;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile-photo, .profile-photo-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover; 
    object-position: center; 
    transition: 0.3s;
    display: flex !important; 
    align-items: center !important;
    justify-content: center !important;
}

.profile-photo-placeholder {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 105px;
}

label[for="customer_photo_input"]:hover .profile-photo,
label[for="customer_photo_input"]:hover .profile-photo-placeholder {
    opacity: 0.7;
}

label[for="customer_photo_input"] {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    overflow: hidden; 
    text-align: center !important;
    line-height: 100px; 
    align-items: center;
    justify-content: center;
}

.profile-photo {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
    outline: none;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #a3b18a;
}

input[type="text"], input[type="password"], input[type="email"] {
    height: 35px; 
    padding: 10px; 
    font-size: 14px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

input[type="file"] {
    padding: 8px;
}

input[type="radio"] {
    margin-right: 5px;
}

label[for="customer_gender"] {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
}

.form-group .radio-btn {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.form-check-input {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    transition: border-color 0.2s, background-color 0.2s;
    margin-right: 10px; 
    cursor: pointer;   
    appearance: none;   
}

.form-check-input:checked {
    background-color: #007bff; 
    border-color: #007bff;    
}

.form-check-input:hover {
    border-color: #007bff; 
}

.invalid-feedback {
    font-size: 0.875rem;
    color: #dc3545;
}

.form-group .radio-btn label {
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.5;  
    margin: 0;
    vertical-align: middle;
}

.form-group input[name="customer_password"] {
    margin-bottom: 1rem;
}

.button-submit-profile {
    display: block; 
    width: 100%; 
    max-width: 300px; 
    margin: 2rem auto; 
    background-color: #D1D88D; 
    border: none; 
    color: #1E1E1E;
    font-size: 1rem; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.button-submit-profile:hover {
    background-color: #b1b67c; 
}