@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: black;
    background-color: white;
    width: 100%;
    position: fixed !important; 
    flex-wrap: nowrap !important;
}

.brand-logo{
    margin-left: 30px;
}

.brand-logo img{
    width: 80px;
}

.nav-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 50px !important;
    gap: 70px;
    
}

.nav-left .nav-item:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.nav-left .nav-item:hover:before {
    width: 100%;
}

.nav-right .nav-links a, .nav-right:last-child {
    margin-right: 30px;
}

.nav-right .bi.bi-cart2 {
    margin-right: 50px;
    color: black !important;
}

.nav-right .nav-links a:hover{
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 6px;
}

.nav-left, .nav-right, .nav-right .nav-links {
    list-style: none !important;
}

.nav-left li, .nav-right, .nav-right .nav-links li {
    display: inline-flex !important;
    margin: 0 20px;
}

.nav-left .input-group {
    max-width: 200px;
}

.input-group .form-control {
    padding: 0;
    font-size: 25px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 2px solid white; 
}

.input-group .form-control::placeholder {
    transform: translateY(8px);
    color: white;
}

.input-group .form-control:focus::placeholder {
    opacity: 0;
}

.input-group .form-control:focus {
    border: none;
    border-bottom: 2px solid white; 
    box-shadow: none;
    background: transparent;
    color: white;
}

.nav-links button {
    padding: 7px 40px;
    background-color: rgba(209, 216, 141, 1);
    border: none;
    border-radius: 50px !important;
    cursor: pointer;
    font-size: 20px !important;
    transition: all 0.3s ease 0s;
}

.nav-links button:hover {
    color: #0B4000;
    background-color: rgba(209, 216, 141, 0.7); 
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #283106; 
    color: white; 
    width: 80%;
}

.dropdown-menu-end .dropdown-item:hover {
    background-color: #283106; 
    color: white; 
    width: 100%;
}

.nav-item.dropdown .nav-link.dropdown-toggle.d-flex.align-items-center{
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 6px;
}

