@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
body{
    overflow: auto;
    background-color: white;
}
.login a{
    text-decoration: none;
    color: #05D716;
    font-family: "Karla", sans-serif !important;
}

h1{
    margin-left: 0;
}

p{
    font-size: large;
    margin-left: 7rem;
    font-family: "Karla", sans-serif !important;

}

/* form{
    margin-left: 7rem;
}

form > div {
    display: block;
} */

label {
    font-weight: normal;
    display: block;
    padding: 5px;
    margin-bottom: 3px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black !important;
    opacity: 0.5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    outline: none;
}

input[type="file"] {
    display: none;
}

input[type="radio"] {
    background-color: #f2f2f2;
}

.upload-photo {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #D1D88D;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    padding: 10px;
    margin-top: 15px;
}

.upload-photo:hover {
    background-color: #485935;
    color: white;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
}

.password-container input {
    flex: 1; 
    padding: 10px;
    padding-right: 40px; 
    border-radius: 5px;
    border: 1px solid black !important;
    opacity: 0.5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    outline: none;
}

.password-container i {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

form input[type="file"]{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}
div:nth-child(7), 
div:nth-child(8)   {
    grid-column: span 2; 
}

div:nth-child(8) label {
    display: inline;
    margin-right: 10px;
}

form input[type="radio"] {
    margin-right: 5px;
}

form{
    max-width: 1000px; 
    width: 100%;
    margin: 0 auto; 
    font-family: "Karla", sans-serif;
}

.form-btn {
    width: 30%;
    padding: 10px 20px;
    background-color: #D1D88D;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 22px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.form-btn:hover{
    background-color: #485935;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
}

.column1{
    flex: 1;
}

.column2{
    flex: 1;
    margin-top: 20px;
}

.column1, .column2{
    flex: 0 0 40%; /* or 50% each */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.option{
    margin: 0px;
}

form input[type="radio"]{
    margin-top: 10px;
}

.button-submit{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.button-submit button{
    margin-bottom: 60px;
    padding: 10px 20px; 
    font-size: 16px; 
    width: 30%; 
    background-color: #D1D88D;
    color: black;
    border: none;
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.button-submit button:hover{
    background-color: #485935;
    color: white;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
  
.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* ruang untuk ikon */
    padding-left: 10px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
  
#togglePassword{
    position: absolute;
    right: 12px;
    top: 41%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

  