body{
    background-color: white !important;
}

.navbar{
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    background-color: #283106;
    width: 100%;
    position: relative !important; 
    flex-wrap: nowrap !important;
}

.table tr {
    border-bottom: 1px solid #ccc; /* Ubah warna dan ketebalan sesuai kebutuhan */
}



.card{
    border: none;
    border-radius: none;
    box-shadow: none;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

th{
    font-size: larger;
}

/* h1{
    font-weight: bold;
} */

a{
    color: black;
}

button{
    border: 0px;
    background-color: white;
}

#subtotal{
    background-color: #EFEAEA !important;
    margin-top: 15px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#checkout-button{
    background-color: #78AE3C !important;
    border: 0px;
    color: white;
    transition:backgroud-color 1s ease;
}


#checkout-button:hover {
    background-color: #699935 !important;
}

.decrease-btn, .increase-btn, .quantity-input {
    border: none !important;
    outline: none;
    box-shadow: none;
}



.decrease-btn:hover, .decrease-btn:focus, .increase-btn:hover, .increase-btn:focus {
    border: none !important;
    outline: none;
    box-shadow: none;
    background-color: #699935;
}

.update-cart-form {
    border: 1px solid #485935;
    border-radius: 10px;
    padding: 8px;
    background-color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 140px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    
}


.cart-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.cart-checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 10px;
}
  
.cart-checkbox + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -12px;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: 0.2s;
}
  
.cart-checkbox:checked + label::before {
    background-color: #699935; /* Ganti dengan warna yang kamu inginkan */
    border-color: #699935;
}
  

.cart-checkbox:checked + label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -9px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
  



